<template>
    <div class="">
         <navigation-bar></Navigation-bar>
         <verify-account ></Verify-account>
        
    </div>
</template>

<script>
    export default {
        data() {
            return {
                account:true,
                bvn:false,
            }
        },
        mounted() {
            console.log('Home mounted.')
        }
    }
</script>
